[core]
  pager = ~/.submodules/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = auto
[color "diff"]
  meta = yellow
  commit = green
  frag = blue
  old = red
  new = green
  whitespace = red reverse
[include]
  path = ~/.gitconfig_user
