[core]
  pager = ~/.submodules/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = auto
[color "diff"]
  meta = bold yellow
  commit = bold green
  frag = bold blue
  func = magenta
  old = bold red
  new = bold green
  whitespace = reverse bold red
[include]
  path = ~/.gitconfig_user
[push]
	autoSetupRemote = true
[pull]
	ff = only
	rebase = false
[init]
	defaultBranch = main
[user]
  name = Matthew Tse
  email = matthew@matthewtse.com
