# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
# name = Matthew Tse
# email = mtse.google.com

[alias]
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[push]
  default = current

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[color]
  ui = always
[color "diff"]
  meta = yellow
  commit = green bold
  frag = blue bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
